.icon {
    display: inline-block;
    vertical-align: middle;
   }
   
   .text{
     display: inline-block;
     vertical-align: middle;

   }
.proposer{
    color: #2f5e53;
}
.chercher{
    color:	#764c24;
}
.profil{
    color:	#000ec9;
}

.menu{
    color:#000878;
}