<div class="progress" *ngIf="areCitiesDefined()">
        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 30%" *ngIf="areCitiesDefined()"> </div>
        <div class="progress-bar  bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%" *ngIf="step2Completed()" > </div>
        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 20%"  *ngIf="annonce.prix"></div>
</div>

<form #annonceForm="ngForm">
  <!-- STEP 1 -->
    <div *ngIf="step1">
      <div class="form-group">
        <label><strong>Ville de départ :</strong></label>
        <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="annonce.cityDepart" #cityDepart="ngModel"name="city_depart" required>
            <option *ngFor="let city of cities"  [value]="city.ville">
                {{city.ville}}
            </option>
        </select>
      </div>
      <div class="form-check">
            <input type="checkbox" [(ngModel)]="isEscale" #escaleL="ngModel" class="form-check-input" name="escale">
            <label class="form-check-label"><strong>Avec escale</strong></label>
      </div>
      <div class="form-group" *ngIf="isEscale">
            <label><strong>Ville d'escale : </strong></label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="annonce.escale" required #cityEscale="ngModel" name="city_escale">
                <option *ngFor="let city of cities"  [value]="city.ville">
                    {{city.ville}}
                </option>
            </select>
      </div>
      <div class="form-group" >
            <label><strong>Destination :</strong> </label> 
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="annonce.cityDestination" required #cityDestination="ngModel" name="city_destination">
                    <option *ngFor="let city of cities"  [value]="city.ville" >
                            {{city.ville}}
                    </option>
             </select>
      </div>
      <div class="form-group alert alert-danger" *ngIf="citiesAreEquals()">
            <label><strong>Les villes doivent étre différent </strong></label> 
      </div>
        <button class="btn btn-success" [disabled]="!areCitiesDefined()" (click)="continue('step2')" style="width: 100%;">Suivant</button>

    </div>
    <!-- STEP 2 -->
    <div *ngIf="step2">
        <div class="form-group">
          <label><strong>Combien de place vous proposez ? </strong></label>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <button type="button" class="btn" [ngClass]="class1" (click)="howMuchPlace(1)">1</button> &nbsp;
                  <button type="button" class="btn" [ngClass]="class2" (click)="howMuchPlace(2)">2</button> &nbsp;
                  <button type="button" class="btn" [ngClass]="class3" (click)="howMuchPlace(3)">3</button> &nbsp;
                  <button type="button" class="btn" [ngClass]="class4" (click)="howMuchPlace(4)"> 4</button> &nbsp;
                  <button type="button" class="btn" [ngClass]="class5" (click)="howMuchPlace(5)">5</button> &nbsp;
                  <button type="button" class="btn" [ngClass]="class6" (click)="howMuchPlace(6)">6</button> &nbsp;
                  <button type="button" class="btn" [ngClass]="class7" (click)="howMuchPlace(7)">7</button> &nbsp;
                </div>
                      
            </div>
        </div>
        <div class="form-group">
                <label><strong>Vous souhaitez prendre la route par :</strong>  </label>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                      <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn" [ngClass]="classAutoroute" (click)="chooseRoad('Autoroute')">Auto-route</button> &nbsp;
                        <button type="button" class="btn" [ngClass]="classNational" (click)="chooseRoad('Nationale')">Route nationale</button> 
                      </div>
                            
                </div>
        </div>
        <div class="form-group">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <label><strong>Type de votre voyage :</strong> </label>
                      <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn" [ngClass]="classAllerSimple" (click)="chooseTripType('Aller simple')">Aller simple</button> &nbsp;
                        <button type="button" class="btn" [ngClass]="classAllerRetour" (click)="chooseTripType('Aller retour')">Allez - Retour</button> 
                      </div>
                            
                </div>
        </div>
        <div class="form-group" *ngIf="annonce.typeVoyage!=undefined">
                    <div>
                        <label><strong>Date de départ : </strong><small>DD/MM/YYYY HH:MM:SS</small></label> 
                    </div>
                    <div>
                            <input class="form-control" type="datetime-local" [(ngModel)]="annonce.dateDepart" name="date_aller" class="datetime-local-input">
                    </div>     
                    <div *ngIf="annonce.typeVoyage == 'Aller retour'">
                        <label><strong>Date d'arrivée :</strong><small>DD/MM/YYYY HH:MM:SS</small></label> 
                      <div>
                            <input class="form-control" type="datetime-local" [(ngModel)]="annonce.dateArrivee"  name="date_retour" class="datetime-local-input">
                      </div> 
                    </div>
                    <br>
                    <div class="form-group alert alert-danger" *ngIf="dateNotValid">
                       <strong *ngIf="tripType=='Aller simple'">La date n'est pas valide</strong>
                       <strong *ngIf="tripType=='Aller retour'">Las dates ne sont pas valide</strong>
                    </div>         
        </div>
        <button class="btn btn-success" [disabled]="!step2Completed()" (click)="continue('step3')" style="width: 100%;">Suivant</button>   
    </div>
     <!-- STEP 3 -->

     <div *ngIf="step3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Prix</span>
        </div>
        <input type="number" class="form-control" name="prix" max="9999" #price="ngModel" [(ngModel)]="annonce.prix" required>
        <div class="input-group-append">
          <span class="input-group-text">DH / PERSONNE</span>
        </div>
      </div>
      <ion-card> 
          <ion-card-content>
            <ion-card-title>
            </ion-card-title>
              
             <div>
                <i class="fas fa-calendar-alt colorIcon"></i> {{annonce.dateDepart | date:'shortDate'}}
                <i class="far fa-clock colorIcon"></i> {{annonce.dateDepart | date:'shortTime' }} <br>
                <i class="fas fa-arrow-alt-circle-down colorIconDepart"></i> {{annonce.cityDepart}}
             </div> 
              <div>
                <i class="fas fa-ellipsis-v betweenCities colorIcon"  ></i><br>
                <i class="fas fa-ellipsis-v betweenCities colorIcon"  ></i> 
              </div>
              <div *ngIf="annonce.escale">
                <div>
                  <i class="far fa-circle colorIcon"></i> {{annonce.escale}}
                </div>
                <div>
                  <i class="fas fa-ellipsis-v betweenCities colorIcon"  ></i>
                 </div>
                 <div>
                    <i class="fas fa-ellipsis-v betweenCities colorIcon"></i>
                </div>
              </div>
              <div>
                  <i class="fas fa-circle colorIconDestination" ></i> {{annonce.cityDestination}}
              </div> <br>
              <div>
                  <span class="places"><i class="fas fa-car"></i> {{annonce.typeVoyage}} </span>
                 <span class="price" *ngIf="annonce.prix"><i class="fas fa-money-check-alt"></i> <span> {{annonce.prix}} DH</span> </span>
              </div>
              <div>
                  <span class="places"><i class="fas fa-road"></i> {{annonce.typeRoute}} </span>
              </div>
              <div>
                  <span class="places"><i class="fas fa-users"></i> {{annonce.places}} place(s) disponible(s) </span>  
              </div>
             <div style="margin-top:10%">
                <button class="btn btn-primary btn-lg btn-block"  [disabled]= "!annonce.prix" (click)="valider()" ion-button full>Publier</button>
             </div>
          </ion-card-content>
        </ion-card>
    </div>
</form>
