form{
    margin: 7%;
}
select,input{
    background-color: #f5f6fa;
}
img{
    width: 20%;
    margin-left:20%;
}
.clicked{
    background-color:#2c2c54;
    color:white;
}
.notClicked{
    background-color:#bdc3c7;
    color:white;
}
.roadClicked{
 background-color:#2c2c54;
 color: white;
}
.roadNotClicked{
  background-color: #bdc3c7;
  color:white;
}
