<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email / Numero de télphone" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Se connecter</button>
                <button class="btn btn-block" style="background-color:#3b5998;color:white;" type="submit" (click)="facebookConnexion()"> 
                  <i class="fab fa-facebook-square"></i><small> Connexion via Facebook</small> 
                </button>
                <button class="btn btn-block" style="background-color:#ef3a25;color:white;" type="submit" (click)="facebookConnexion()"> 
                  <i class="fab fa-google"></i><small> Connexion via Google</small> 
                </button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Mot de passe oublié ?
            </a>
            <a href="#" class="forgot-password">
              S'inscrire
          </a>
        </div>
    </div>
</ion-content>
