<ion-header>
  <ion-toolbar>
    <ion-title>Rejoignez la communauté (nom de lapp)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
        <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 30%" [hidden]="sexe.invalid || firstName.invalid || lastName.invalid"></div>
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 30%" [hidden]="phone.invalid || email.invalid"></div>
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 40%" [hidden]="password.invalid || passwordConf.invalid || user.password!=user.passwordConf"></div>
        </div>
        <div class="container" style="margin-top: 1em;">
                <!-- Sign up form -->
                <form #userForm="ngForm">
                    <!-- Sign up card -->
                    <div class="card person-card" [hidden]="hideFirstCard">
                        <div class="card-body">
                            <!-- Sex image -->
                            <img id="img_sex" class="person-img"
                                src="https://visualpharm.com/assets/217/Life%20Cycle-595b40b75ba036ed117d9ef0.svg">
                            <h2 id="who_message" class="card-title">Qui etes-vous ?</h2>
                            <!-- First row (on medium screen) -->
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <select id="input_sex" class="form-control" #sexe="ngModel" name="sexe" required [(ngModel)]=user.sexe>
                                        <option value="Mr.">Mr.</option>
                                        <option value="Ms.">Ms.</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-5">
                                    <div class="input-group add-on">
                                         <input id="first_name" type="text" class="form-control" #firstName="ngModel" name="firstName" required placeholder="Nom" [(ngModel)]=user.firstName>
                                         <div class="input-group-btn" *ngIf="firstName.valid">
                                             <button class="btn btn-light" (click)="user.firstName=''"> <ion-icon name="trash"></ion-icon></button>
                                         </div>
                                         <div id="first_name_feedback" class="invalid-feedback">
                                                
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="form-group col-md-5">
                                        <div class="input-group add-on">
                                             <input id="last_name" type="text" class="form-control" #lastName="ngModel" name="lastName" required placeholder="Prénom" [(ngModel)]=user.lastName>
                                             <div class="input-group-btn" *ngIf="lastName.valid">
                                                <button class="btn btn-light" (click)="user.lastName=''"> <ion-icon name="trash"></ion-icon></button>
                                             </div>
                                             <div id="first_name_feedback" class="invalid-feedback">
                                             </div>   
                                        </div>
                                </div>
                                <div class="form-group col-md-5">
                                       Date de naissance <br>
                                             <input id="birthday" type="date" class="form-control" #birthday="ngModel" name="birthday" placeholder="Date de naissance" [(ngModel)]=user.birthday>
                                     
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-info" (click)="card1done()" [hidden]="sexe.invalid || firstName.invalid || lastName.invalid">Continuer</button>
                    </div>

                    <div class="card person-card" [hidden]="hideSecondCard">
                        <div class="card-body">
                            <!-- Sex image -->
                            <img id="img_sex" class="person-img"
                                src="https://visualpharm.com/assets/217/Life%20Cycle-595b40b75ba036ed117d9ef0.svg">
                                <h2 class="card-title">Comment vous contacter ?</h2>
                            <!-- First row (on medium screen) -->
                            <div class="row">
                                
                                    <div class="form-group input-group add-on col-md-6">
                                        <input type="email" class="form-control" [email]="true" id="email" #email="ngModel" name="email" placeholder="example@gmail.com" required [(ngModel)]=user.email> 
                                        <div class="input-group-btn" *ngIf="email.valid">
                                            <button class="btn btn-light" (click)="user.email=''"> <ion-icon name="trash"></ion-icon></button>
                                        </div>
                                        <div class="email-feedback">
                                        
                                        </div>
                                    </div>
                                    <div class="form-group input-group add-on col-md-6">
                                        <input type="tel" class="form-control" id="tel" #phone="ngModel" name="phone" pattern="[0-9]+" placeholder="0699999999" required [(ngModel)]=user.phone>
                                        <div class="input-group-btn" *ngIf="phone.valid">
                                            <button class="btn btn-light" (click)="user.phone=''"> <ion-icon name="trash"></ion-icon></button>
                                        </div>
                                        <div class="phone-feedback">
                                        
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <button class="btn btn-info" (click)="card2done()" *ngIf="phone.valid && email.valid">Continuer</button>
                    </div>

                    <div class="card person-card" [hidden]="hideThirdCard">
                        <div class="card-body">
                            <!-- Sex image -->
                            <img id="img_sex" class="person-img"
                                src="https://visualpharm.com/assets/217/Life%20Cycle-595b40b75ba036ed117d9ef0.svg">
                                <h2 class="card-title">Sécurisé votre compte !</h2>
                            <!-- First row (on medium screen) -->
                            <div class="row">
                                    <div class="form-group col-md-6">
                                        
                                        <input type="password" class="form-control" id="password" #password="ngModel" name="password" placeholder="Mot de passe" required [(ngModel)]=user.password>
                                        <div class="password-feedback">
                                        
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="password" class="form-control" id="password_conf" #passwordConf="ngModel" name="passwordConf" placeholder="Confirmation du mot de passe" required [(ngModel)]=user.passwordConf>
                                        <br>
                                        <div class="password_conf-feedback alert alert-danger" *ngIf="password.valid && passwordConf.valid && passwordConf.touched && user.password!=user.passwordConf">
                                         Les deux mots de passe doivent correspondre
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div style="margin-top: 1em;" [hidden]="hideThirdCard">
                            <span *ngIf="error">cette utilisateur existe déjà</span>
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Créer mon compte" [disabled]="password.invalid || passwordConf.invalid || user.password!=user.passwordConf" (click)="submit()">
                          </div>
                    </div>
                                              
                    
                    </form>
            </div>
</ion-content>

<br><br><br>
<!-- JJJJJJJJJJJJJJJJJJJJJJJJSSSSSSSSSSSSSSSSSSSSS-->
<script>
// URLs images
var female_img = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo8PcCxh7tT6MDFhJi2UaAT9SeciHqvZuaWtGg0y0-yyP8rMDz";
var male_img = "https://visualpharm.com/assets/217/Life%20Cycle-595b40b75ba036ed117d9ef0.svg";

// On page loaded
$( document ).ready(function() {
    // Set the sex image
    set_sex_img();
    
    // Set the "who" message
    set_who_message();

    // On change sex input
    $("#input_sex").change(function() {
        // Set the sex image
        set_sex_img();
        set_who_message();
    });

    // On change fist name input
    $("#first_name").keyup(function() {
        // Set the "who" message
        set_who_message();
        
        if(validation_name($("#first_name").val()).code == 0) {
            $("#first_name").attr("class", "form-control is-invalid");
            $("#first_name_feedback").html(validation_name($("#first_name").val()).message);
        } else {
            $("#first_name").attr("class", "form-control");
        }
    });

    // On change last name input
    $("#last_name").keyup(function() {
        // Set the "who" message
        set_who_message();
        
        if(validation_name($("#last_name").val()).code == 0) {
            $("#last_name").attr("class", "form-control is-invalid");
            $("#last_name_feedback").html(validation_name($("#last_name").val()).message);
        } else {
            $("#last_name").attr("class", "form-control");
        }
    });
});

/**
*   Set image path (Mr. or Ms.)
*/
function set_sex_img() {
    var sex = $("#input_sex").val();
    if (sex == "Mr.") {
        // male
        $("#img_sex").attr("src", male_img);
    } else {
        // female
        $("#img_sex").attr("src", female_img);
    }
}

/**
*   Set "who" message
*/
function set_who_message() {
    var sex = $("#input_sex").val();
    var first_name = $("#first_name").val();
    var last_name = $("#last_name").val();
    
    if (validation_name(first_name).code == 0 || 
        validation_name(last_name).code == 0) {
        // Informations not completed
        $("#who_message").html("Who are you ?");
    } else {
        // Informations completed
        $("#who_message").html(sex+" "+first_name+" "+last_name);
    }
}

/**
*   Validation function for last name and first name
*/
function validation_name (val) {
    if (val.length < 2) {
        // is not valid : name length
        return {"code":0, "message":"The name is too short."};
    }
    if (!val.match("^[a-zA-Z\- ]+$")) {
        // is not valid : bad character
        return {"code":0, "message":"The name use non-alphabetics chars."};
    }
    
    // is valid
    return {"code": 1};
}</script>