.icon {
    display: inline-block;
    vertical-align: middle;
   }
   
   .text{
     display: inline-block;
     vertical-align: middle;

   }
   .proposer{
    color: #ffa801;
}
.chercher{
    color:	#05c46b;
}
.favoris{
    color:#ff3f34;
}
.profil{
    color:	#000ec9;
}

.menu{
    color:#000878;
}